// root .eslintrc
{
    "root": true,
    "env": {
        "node": true,
        "browser": true
    },
    "extends": ["plugin:vue/essential", "eslint:recommended"],
    "parserOptions": {
        "parser": "@babel/eslint-parser",
        "requireConfigFile": false, // Allow ESLint to use the root Babel config
        "babelOptions": {
            "configFile": "./babel.config.js" // Explicitly specify the root Babel config
        }
    }
}
