@tailwind base;
@tailwind components;
html {
  line-height: 1.15;
}
img, svg, video, canvas, audio, iframe, embed, object {
  display: inline;
  vertical-align: middle;
}
h1 {
  font-size: 2em;
  font-weight: bolder;
}
h2 {
  font-size: 1.5em;
  font-weight: bolder;
}
h3 {
  font-size: 1.17em;
  font-weight: bolder;
}
h4 {
  font-size: 1em;
  font-weight: bolder;
}
h5 {
  font-size: .83em;
  font-weight: bolder;
}
h6 {
  font-size: .75em;
  font-weight: bolder;
}
@import "filters";
@import "snippet";
@import "styles";
@tailwind utilities;